---
Checks: |
    *,
    -altera-*,
    -llvmlibc-*,
    -fuchsia-*,
    -modernize-use-trailing-return-type,
    -cppcoreguidelines-owning-memory,
    -misc-no-recursion,
    -cert-dcl21-cpp,
    -bugprone-easily-swappable-parameters,
    -hicpp-braces-around-statements,
    -cppcoreguidelines-avoid-magic-numbers,
    -hicpp-invalid-access-moved,

CheckOptions:
    - {key: readability-braces-around-statements.ShortStatementLines, value: 1}
    - {key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic, value: true}
    - {key: readability-function-cognitive-complexity.IgnoreMacros, value: true}

WarningsAsErrors: ''
HeaderFilterRegex: 'algorithm_pack/.+\.h'
FormatStyle:     google
